<!DOCTYPE html>
<html>
  <head>
    <title>Agroket</title>
  </head>
  <body>
    <h1>Welcome to Agroket!</h1>
    <h3>The Marketplace for your Agricultural Services</h3>
    
    <% if (user) { %>
      <p>Hello, <%= user.name %>!</p>
      <a href="/accounts/logout">Log Out</a>
    <% } else { %>
      <a href="/accounts/login">Log In</a>
      <a href="/accounts/signup">Sign Up</a>
    <% } %>
    <script>
      window.onload = function() {
        fetch('/products')
          .then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error(error));
      }
    </script>
  </body>
</html>
