<!DOCTYPE html>
<html>
  <head>
    <title>Sign Up</title>
    <style>
      body {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100vh;
        }


      h1 {
        color: #006600;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-width: 400px;
      }

      div {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        width: 100%;
      }

      label {
        color: #006600;
        margin-bottom: 5px;
      }

      input[type="text"],
      input[type="email"],
      input[type="password"] {
        border: 1px solid #006600;
        padding: 5px;
        border-radius: 3px;
        font-size: 16px;
        color: #333333;
        width: 100%;
      }

      button[type="submit"] {
        background-color: #006600;
        color: #ffffff;
        border: none;
        padding: 10px 15px;
        font-size: 16px;
        border-radius: 3px;
        cursor: pointer;
      }

      button[type="submit"]:hover {
        background-color: #008000;
      }

      a {
        color: #006600;
      }
    </style>
  </head>
  <body>
    <h1>Sign Up</h1>
    <% if (typeof error !== 'undefined') { %>
        <div style="color: red;"><%= error %></div>
    <% } %>
    <div>
      <form action="/accounts/signup" method="post">
        <div>
          <label for="name">Name</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div>
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div>
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>
        <div>
          <label for="isSeller">Sign up as a seller?</label>
          <input type="checkbox" id="isSeller" name="isSeller">
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
    <br>
    <p>Already have an account? <a href="/accounts/login">Login</a></p>
  </body>
</html>
